/* General styles */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

/* ======================== */
a {
  text-decoration: none;
  font-size: 20px;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  background: none;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  translate: calc(100% + 4px) -50%;
  width: 45px;
  height: 45px;
  background: #fd5949;
  border-radius: 50px;
  transition: translate 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2), width 0.25s cubic-bezier(0, 0, 0.5, 2);
}

.button:hover::before {
  width: 100%;
  translate: -18px -50%;
  transition: translate 0.25s cubic-bezier(0, 0, 0.5, 2), width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
}

.button i {
  margin-left: 5px;
  transition: translate 0.25s 0.4s cubic-bezier(0, 0, 0.5, 2);
}

.button:hover i {
  translate: 3px 0;
}

.css-nav {
  background-color: transparent !important;
}
.css-nav .mt-0 {
  margin-top: 0 !important;
}
.css-nav .logo {
  width: 100px;
}
.css-nav span {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 20px;
}
.css-nav .css-ul {
  align-items: center;
  gap: 2rem;
}
.css-nav .css-ul li a {
  color: white !important;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
}
.css-nav .css-ul li a:hover {
  color: #f16457 !important;
  font-weight: bold;
  text-decoration: underline #f16457;
}
.css-nav .navbar-toggler-icon.active {
  background-color: white !important;
}

.footer {
  position: relative;
  width: 100%;
  background: #282828;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  gap: 10px;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.logo-footer {
  width: 90px;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
.social-icon__item .md {
  color: white;
}

.inicio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inicio .cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 290px;
}
.inicio .cont .title-container {
  text-align: center;
}
.inicio .cont .title-container h1 {
  font-family: "Oswald", sans-serif;
  display: flex;
  font-size: 90px;
  color: white;
}
.inicio .cont .title-container h1:hover {
  color: grey;
}
.inicio .cont .title-container span {
  font-family: "Oswald", sans-serif;
  color: rgb(119, 118, 118);
  font-size: 25px;
}

.main {
  background-color: black;
  background-image: url("https://i.postimg.cc/kXwn0rDr/image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.novedades {
  margin-top: 3rem;
  width: 100%;
  height: auto;
  background-color: black;
  opacity: 0.8;
}
.novedades .nov-cont {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.novedades .nov-cont .text-cont {
  display: flex;
  flex-direction: column;
}
.novedades .nov-cont .text-cont h2 {
  color: blanchedalmond;
}
.novedades .nov-cont .text-cont .icons-main {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  margin-top: 2rem;
}
.novedades .nov-cont .text-cont .icons-main .icon--spotify:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}
.novedades .nov-cont .text-cont .icons-main .icon--youtube:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%);
  outline-color: #a02d2d;
}
.novedades .nov-cont .text-cont .icons-main .icon--apple:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #d6249f 60%);
  outline-color: #a02d76;
}
.novedades .nov-cont .promocard {
  width: 170px;
  transition: transform 0.5s ease;
}
.novedades .nov-cont .promocard:hover {
  width: 190px;
  transform: scale(1.1);
}

.sobre-mi {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack the elements vertically */
  align-items: center; /* Center elements horizontally */
  padding: 30px;
  margin-top: 3rem;
  /* Add padding to adjust space between sections */
}
.sobre-mi .cont-sb {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: auto;
  background-color: rgb(8, 0, 0);
  opacity: 0.8;
  border-radius: 10px;
  padding-left: 1rem;
  overflow: hidden;
}
.sobre-mi .cont-sb p {
  font-size: 20px;
  color: white;
  text-align: left;
  width: 60%;
}
.sobre-mi .cont-sb p::first-letter {
  font-size: 70px;
}

.show-animation {
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.spotify-container {
  align-items: center;
  width: 50%; /* Adjust as needed */
  height: 500px; /* Set the height for the container */
  border-radius: 12px; /* Add border-radius to the container */
  overflow: hidden; /* Optional: Hide any overflow content */
  opacity: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
}

.container {
  max-width: 960px;
  margin-inline: auto;
  padding: 60px 15px;
}

.pro {
  background-color: black;
  background-image: url("../assets/aboutme.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.proyectos {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}

.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  background: white;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.container .card:hover {
  height: 400px;
  cursor: pointer;
}

.container .card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .content {
  top: 130px;
  height: 250px;
}

.container .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr);
}

.container .card .content p {
  color: #333;
}

.container .card .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--clr);
  color: white;
  font-weight: 500;
}

.container .card .content a:hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .container .card {
    width: 230px;
    border-radius: 15px;
  }
  .container .card .img-box {
    width: 185px;
    border-radius: 10px;
  }
  .container .card .content p {
    font-size: 0.8rem;
  }
  .container .card .content a {
    font-size: 0.9rem;
  }
}
.contact-b {
  background-color: black;
  background-image: url("../assets/SUDACA PENA 25 MAYO-37.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.icons {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.icon {
  display: inline-flex;
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.icon:hover {
  outline-offset: 4px;
}

.icon i {
  margin: auto;
}

.icon:hover i {
  animation: shake 0.25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--github:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text h1 {
  text-align: center;
  font-size: 250px;
  color: #fd5949;
  -webkit-text-stroke: 3px rgb(15, 15, 15);
}
.text span {
  text-align: center;
  font-size: 50px;
  color: rgb(243, 238, 238);
  -webkit-text-stroke: 1px rgb(15, 15, 15);
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
