body{
    background-color: black;
    background-image: url("../assets/contact2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}


    h1 {
        font-family: 'Oswald', sans-serif;
        display: flex;
        font-size: 130px;
        color: white;
        
        &:hover {
            color: grey;
        }
    }

    span {
        font-family: 'Oswald', sans-serif;
        color:white;
        font-size: 25px;
      
    }

    




.novedades {
    opacity: 0.8;
    background-color: #131313;
    .nov-cont {

        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        h2 {
            font-size: 30px;
            font-family: 'Rubik', sans-serif;
            color: rgb(255, 253, 253);
        }


            .icons-main {
                display: flex;
                justify-content: center;
                column-gap: 25px;
                margin-top:2rem;

                .icon--spotify:hover {
                    background-color: #2ea44f;
                    outline-color: #2ea44f;
                }
                .icon--youtube:hover {
                    background-image: radial-gradient(
                        circle at 30% 107%,
                        #fdf497 0%,
                        #fdf497 5%,
                        #fd5949 45%,
                    );
                    outline-color: #a02d2d;
                }
                .icon--apple:hover {
                    background-image: radial-gradient(
                        circle at 30% 107%,
                        #fdf497 0%,
                        #d6249f 60%,
                    );
                    outline-color: #a02d76;
                }
            }
        }
        .promocard {
            width: 170px;
            transition: transform 0.5s ease;
            &:hover{
                width: 173px;
  transform: scale(1.1);
            }
        }
    }



