
.sobremi{
    background-color: black;
    background-image: url("https://i.postimg.cc/cJ58GJcz/3-E59-D600-E066-4-A5-C-A8-F0-4-EC1-C8462720-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}