/* Estilos para el contenedor cuadrado */
.contenedor-cuadrado {
 /* Ancho del 90% del contenedor principal */
  width: 600px; /* Ancho máximo para controlar el ancho del cuadro */
  height: 600px; /* Altura fija de 500px */
  background-color: rgb(229, 225, 225); /* Fondo blanco */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  display: flex; /* Utiliza el modelo de caja flexible para centrar verticalmente */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  padding: 20px; /* Espacio interior */

}

/* Estilos para el texto dentro del contenedor */
.texto {
  font-family: 'Rubik', sans-serif;
            
  font-size: 18px;
  text-align: center;
  color: #333; /* Color del texto */
}

.sb-im{
  width:100%;
}