body{
    font-family: 'Rubik', sans-serif;
    background-color: black;
    background-image: url("../assets/contact2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}